
<div class="container text-center">
    <h1>About the Project</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entrepenears to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio maiores itaque consequatur cumque quo? Vero, eius est quod at et quam sed porro iusto neque ab itaque totam accusamus facilis.</p>
<iframe src="https://giphy.com/embed/12NUbkX6p4xOO4" width="480" height="440" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/shia-labeouf-12NUbkX6p4xOO4">via GIPHY</a></p>
</div>
