<div class="home-callout text-center container-fluid">
    <h1>Welcome to DevMatch</h1>
    <h3>A membership site where entrpenuers can meet developers</h3>

<iframe src="https://giphy.com/embed/xT9IgtFtCESNtXFdEk" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/willandgrace-nbc-will-and-grace-xT9IgtFtCESNtXFdEk"></a></p>
</div>